# Exclude build artifacts and output files
target
Cargo.lock

# Exclude editor-specific files and directories
.vscode
.idea

# Exclude version control files and directories
.git
.gitignore

# Exclude local development environment files
.env